body {
  /* BG gradient from https://uigradients.com */
  background: #085078;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #747E80;
  font-family: 'Muli', Helvetica, sans-serif;
  /*font-weight: 400;*/
  font-size: 16px;
}
h1 {
  color: #F05945;
}
.calc-body {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  box-shadow: 0px 0px 63px -6px rgba(59, 60, 66, 0.3);
  margin: 20px auto;
  padding: 10px 10px;
  max-width: 400px;
  min-width: 240px;
}
.label {
  color: #fff;
  float: left;
  padding: 5px 10px 10px 0;
}
.errorMsg {
  color: #000;
  font-size: 0.7rem;
  height: 20px;
  text-align: right;
  text-transform: uppercase;
}
.limit, .solLimit{
  display: none;
}
.screen {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 2px;
  clear: both;
  font-size: 2rem;
  font-weight: 300;
  height: 60px;
  margin: 20px 0 15px 0;
  padding: 5px;
  text-align: right;
}
.row {
  text-align: justify;
  margin-bottom: -18px;
  margin-left: 0;
}
.row:after {
  content: '';
  display: inline-block;
  width: 99.5%
}
button {
  background-color: rgba(255, 255, 255, 0.10);
  /*border: 1px solid rgba(255, 255, 255, 0.75);*/
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  font-family: 'Muli', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  height: 50px;
  margin: 2px 0;
  width: 24%;
}

#equal, #ac {
  width: 49%;
}
#ac, #ce {
  letter-spacing: 2px;
}

@media (max-width: 400px){
  .calc-body {
    border: none;
    box-shadow: none;
  }
}

@media (max-width: 349px) {
  .screen {
    font-size: 1.6rem;
  }
  .row {
    margin-bottom: -15px;
  }
  button {
    font-size: 1rem;
    width: 22%;
  }
  #equal, #ac {
  width: 48%;
}
}